<h1>Sales#new</h1>


<%= form_with model: Sale.new, local: true do |f| %>
<%= f.label :detail%>
<%= f.text_field :detail, id: :detail %>
<%= f.label :category%>
<%= f.number_field :category, id: :category %>
<%= f.label :value%>
<%= f.number_field :value, id: :value %>
<%= f.label :discount%>
<%= f.number_field :discount, id: :discount %>
<%= f.label :tax%>
<%= f.check_box :tax, id: :tax %>


<%= f.submit "Crear" %>
<% end %>